/* === Tabla de Movimientos === */
.movimientos-module table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

/* Cada fila de cabecera ocupa 95% */
.movimientos-module thead tr {
  display: table;
  table-layout: fixed;
  width: 95%;   /* 👈 aquí el ancho */
  margin: 0 auto; /* 👈 centrado */
}

.movimientos-module{
  background-color: var(--bg);
  border-radius: 10px;
  min-height: 500px;
  padding: 20px;
}

/* Cabeceras */
.movimientos-module thead th {
  padding: 0.8rem;
  text-align: center;
  font-size: 0.95rem;
  background: var(--brand);
  color: #fff;
}

/* Filas del body se ajustan igual */
.movimientos-module tbody tr {
  display: table;
  table-layout: fixed;
  width: 95%;
  margin: 0 auto;
}

.movimientos-module tbody td {
  padding: 0.6rem;
  text-align: center;
  border-bottom: 1px solid var(--ring);
}
